@model ContactManager.ViewModels.EmployeesViewModel


<div>

    <div style="margin-bottom: 50px; margin-top: 25px">

        <form asp-controller="Home" asp-action="Index" method="post" enctype="multipart/form-data">
            <input  type="file" name="postedFile" />
            <input type="submit" value="Import" />
        </form>
    </div>
    @if (Model != null)
    {
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">
        <table id="myTable" class="table">
            <thead>
                <tr>
                    <th id="th1" onclick="sortTable(0)">Name</th>
                    <th id="th1" onclick="sortTable(1)">DateOfBirth</th>
                    <th id="th1" onclick="sortTable(2)">IsMarried</th>
                    <th id="th1" onclick="sortTable(3)">Phone</th>
                    <th id="th1" onclick="sortTable(4)">Salary</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.employeesViewModel)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateOfBirth)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsMarried)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Phone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Salary)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            <a asp-action="Delete" data-id="@item.Id" data-name="@item.Name" data-toggle="modal" data-target="#DeleteModal">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
                   
     }
</div>

<div class="modal fade" id="DeleteModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Delete Employee?</h4>
            </div>
            <div class="modal-body">
                <p id="DeleteConfirmation"></p>
            </div>
            <div class="modal-footer">
                <form asp-action="Delete" method="post">
                    <input type="hidden" name="id" value="" />
                    <input type="submit" value="Delete" class="btn btn-success" />
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </form>
            </div>
        </div>

    </div>
</div>


@section Scripts {

    <script src="~/js/site.js"></script>

    <script>
        $('#DeleteModal').on('show.bs.modal', function (e) {

            //get data-id attribute of the clicked element
            var ID = $(e.relatedTarget).data('id');
            var name = $(e.relatedTarget).data('room-name');
            var deleteMessage = "Are you sure you want to delete employee: " + name + "?";
            $('#DeleteConfirmation').html(deleteMessage);
            $(e.currentTarget).find('input[name="id"]').val(ID);
        });

    </script>

}